<h1 id="title" class="anchor-up">Portfolio</h1>

<div class='textbox'>
    <h3>Big update page</h3>
    <p>This is where the big updates would go</p>
    <br><br><br><br><br>
</div>

<div class="divider">
    <p>Cool dividing text</p>
    <span class="material-symbols-outlined down">stat_minus_1</span>
</div>

<div id="art" class="textbox anchor-down">
    <h3>Art</h3>
    <p>This is where art would go</p>
    <br><br><br><br><br><br><br><br><br><br>
</div>

<div class="divider">
    <p>Cool dividing text</p>
    <span class="material-symbols-outlined down">stat_minus_1</span>
</div>

<div id="code" class="textbox anchor-down">
    <h3>Code</h3>
    <p>This is where code would go</p>
    <br><br><br><br><br><br><br><br><br><br>
</div>

<div class="divider">
    <p>Back to top</p>
    <span class="material-symbols-outlined up">stat_minus_1</span>
</div>