<h1>Portfolio</h1>

<div class='textbox'>
    <h3>Description</h3>
    <p>Extreme amounts of testing are happening</p>
</div>

<div class="divider">
    <p>Cool dividing text</p>
</div>

<div class='textbox'>
    <h3>Art</h3>
    <p>This is where art would go</p>
</div>

<div class="divider">
    <p>Cool dividing text</p>
</div>

<div class='textbox'>
    <h3>Code</h3>
    <p>This is where code would go</p>
</div>