<!DOCTYPE html>
<html lang="en">
<head>
    <!--
    Elysse Ahmad Yusri
    -->
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width" /> 
    <title>testing</title>
    <link rel="stylesheet" href="../styles/style.css"> 
</head>

<body>
    <h1>testing</h1>
    <div>
        <ul>
        <li><a href='./index.html' class='nav'>Home</a></li>
        <li><a href='./index.html' class='nav'>Placeholder 1</a></li>
        <li><a href='./index.html' class='nav'>Placeholder 2</a></li>
        </ul>
    </div>

    <div id="textbox">
        <h3>Description</h3>
        <p>Extreme amounts of testing are happening</p>
    </div>

    <footer>
        <p>2024 Elysse Ahmad Yusri</p>
    </footer>
    
    <script src="../scripts/script.js"></script>
</body>
</html>
