<h1>Miscellany</h1>

<div class='textbox'>
    <h3>Description</h3>
    <p>This is where blogs would document my graphic design prowess</p>
</div>

<div class='textbox'>
    <h3>Blog 2: True Day Mode</h3>
    <p>This is my second day of making this website:</p>
    <img src="true-day-mode.gif" alt="True Day Mode Gif">
    <p>I have a break for the whole week starting tomorrow. While I plan to catch up
        on other work, I have pretty much been using the weekend to work on this.
        Currently, these are my plans:
    </p>
    <ol>
        <li>Art: Create a menu to sort by and within media types. For example, 
            within a "sketches" or "paintings" page, users can sort by oldest or
            newest works. I also want to lay it out pinterest-style. 
        </li>
        <li>Code: Create a menu to sort by and within programming categories (Java, 
            Web Development, Machine Learning). Each project can be clicked to reveal
            more information about it (I want to do this on a smaller scale with art.)
        </li>
        <li>Miscellany: Use MongoDB to store html code about these blogs, then load 
            them in procedurally. Ideally these would be sortable too.
        </li>
        <li>About: Just type the info into about.ejs</li>
    </ol>
    <p>Will I finish this? I don't know. I will just work on it this week.</p>
</div>

<div class='textbox'>
    <h3>Blog 1: Day/Night Mode</h3>
    <p>This took a long time to do:</p>
    <img src="brightness-toggle.gif" alt="Brightness Toggle Gif">
    <ol>
        <li>If you are loading the page for the first time, it detects the user's 
            operating system color scheme and sets the website theme accordingly. 
        </li>
        <li>It keeps track of what the chosen color scheme is via the user's local storage
            so that the color scheme doesn't change when the page is reloaded or reopened. 
        </li>
        <li>There is a cool transition when the user presses the "change color scheme" button.</li>
    </ol>
    <p>Each file is initially run with an "initialize.js" file because express doesn't have 
        access to frontend data like local storage, and the page is rerendered once this js file
        deduces the right color scheme to use. This uses two months' worth of AJAX and Express knowledge - 
        although it's probably inefficient, I think it looks cool.
    </p>
    <h4>Things I want to implement</h4>
    <p>I want to be able to load these blogs using MongoDB because I think it's neat.
        I'm also going to learn more about React in a few weeks, so if I have time I'll 
        rework this site to use React.
    </p>
    <p>I also don't know how I'd host this site? Github Pages only hosts static sites.
        While I'll probably make a really simple version of site on it, I'll look into 
        other places I can host this without breaking too many website laws.
    </p>
</div>