<!DOCTYPE html>
<html lang="en">
<head>
    <!--
    Elysse Ahmad Yusri
    -->
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width" /> 
    <title>elysseaa</title>

    <%- `<link rel="stylesheet" type="text/css" href="${cssfile}" class="csslink"/>` -%>
    <%- `<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,300,0,0" />` -%>
</head>

<body>
    <div class='navbar'>
        <a href='.' class='nav' id='nav-title'>elysseaa</a></li>
        <a href='/art' class='nav'>Art</a></li>
        <a href='/code' class='nav'>Code</a></li>
        <a href='/miscellany' class='nav'>Miscellany</a></li>
        <a href='/about' class='nav'>About</a></li>
        <button id='brightness' class='nav'>&#9788; &LeftRightArrow; &#9790;</button>
    </div>

    <%- include(page); -%>

    <footer>
        <p><a href='/about' class="regular">&#9432; About this website</a></p>
        <p>2024 Elysse Ahmad Yusri</p>
    </footer>
    <%- `<script id='script' src="${jsfile}" ></script>` -%>
</body>
</html>        