<!DOCTYPE html>
<html lang="en">
<head>
    <!--
    Elysse Ahmad Yusri
    -->
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width" /> 
    <title>testing</title>

    <%- `<link rel="stylesheet" type="text/css" href="${cssfile}" class="csslink"/>` -%>
</head>

<body>
    <div class='navbar'>
        <a href='.' class='nav' id='title'>Title</a></li>
        <a href='.' class='nav'>Art</a></li>
        <a href='.' class='nav'>Code</a></li>
        <a href='.' class='nav'>Miscellany</a></li>
        <a href='.' class='nav'>About</a></li>
        <button id='brightness' class='nav'>&#9788; &LeftRightArrow; &#9790;</button>
    </div>

    <div class='textbox'>
        <h3>Description</h3>
    <%- include(page); -%>
    <footer>
        <p>2024 Elysse Ahmad Yusri</p>
    </footer>
    <%- `<script id='script' src="${jsfile}" ></script>` -%>
</body>
</html>        