body { font-family: sans-serif; background-color: #f3f3f3; color: #22223b; 
    margin: 80px auto; margin-bottom: 0px; transition: 0.2s ease-out; }
body * { transition: 0.2s ease-out; }
h1 { padding: 40px 80px 20px 80px; display: flex; justify-content: left; color: #22223b; }

/* Links */
a { text-decoration: none; }
a.regular { color: white }
a.regular:hover { text-decoration: underline; }

/* Textboxes */

.textbox { padding: 20px 100px 20px 100px; background-color: white; margin: 1.5em; text-align: left; line-height: 1.8; }
.enterbox { padding: 20px 100px 20px 100px; background-color: white; margin: 1.5em; line-height: 1.8; }

/* Lists */
li { line-height: 1.8; }

/* Table */

table { border-collapse: collapse; margin: 1.5em auto; table-layout: fixed; background-color: white; table-layout: auto; width: 1000px; }
table th { background-color: #4d5d71; border: 1px solid gray; padding: 8px; }
table td { border: 1px solid gray; padding: 8px; overflow: hidden; }

/* Navbar */

.navbar { list-style-type: none; margin: 0; padding: 0; background-color: #3d4459; 
    position: fixed; top: 0; width: 100%; overflow: auto; white-space: nowrap; text-align: left }

.nav {
    display: inline-block;
    color: #f3f3f3;
    padding: 20px 60px 20px 60px;
    vertical-align: middle;
}

a:hover.nav, a:active.nav, #brightness:hover, #brightness:active {
    background-color: #4d5d71;
    color: white;
    transition: 0.1s;
    cursor: pointer;
}

#title.nav {
    font-weight: bold;
    font-size: 1.5em;
    padding: 16px 60px 16px 60px;
}

#title:hover.nav, #title:active.nav {
    background-color: #5588aa;
    color: white;
    transition: 0.1s
}

#brightness { background-color: #3d4459; border: none; background: none; }

/* Footer */

footer { padding: 40px 0px; background-color: #5588aa; color: white;  width: 100%; text-align: center }