body { font-family: sans-serif; text-align: center; background-color: #f3f3f3; color: #22223b; }
h1 { padding: 40px; display: flex; justify-content: left; background-color: #5588aa; color: white; }
footer { padding: 20px 60px 20px 60px; background-color: #5588aa; color: white; }

div#textbox { padding: 20px 60px 20px 60px; background-color: white; margin: 1.5em; text-align: left; }
div#enterbox { padding: 20px 60px 20px 60px; background-color: white; margin: 1.5em; }

table { border-collapse: collapse; margin: 1.5em auto; table-layout: fixed; background-color: white; table-layout: auto; width: 1000px; }
table th { background-color: #ffcdcd; border: 1px solid gray; padding: 8px; }
table td { border: 1px solid gray; padding: 8px; overflow: hidden; }

li { display: inline-block; }
ul { text-align: left; background-color:#3d4459; padding: 20px 0px 20px 0px; }

a:link.nav, a:visited.nav {
    padding: 20px 60px 21px 60px;
    background-color: #3d4459;
    color: #fbf7ea;
    text-decoration: none;
}

a:hover.nav, a:active.nav {
    background-color: #ffcdcd;
    color: #22223b;
    text-decoration: none;
}